@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@700&family=Hanuman:wght@900&family=Odor+Mean+Chey&family=Roboto+Slab:wght@900&family=Yantramanav:wght@900&display=swap');

/* font-family: 'Glegoo', serif;
font-family: 'Hanuman', serif;
font-family: 'Odor Mean Chey', serif;
font-family: 'Roboto Slab', serif;
font-family: 'Yantramanav', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

body {
  background-color: #121213;
  color: #ffffff;
}

header {
  font-family: 'Hanuman', serif;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #3a3a3c;
}

#nav-left, #nav-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: .5rem;
}

#wordle {
  font-size: 1.5rem;
  padding: .25rem;
}
i {
  padding: .25rem;
}

.material-symbols-sharp {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' -25,
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
  height: 50%;
}

.board {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
  width: 20rem;
  /* height: 60%; */
}

.board-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.board-tile {
  border: 2px solid #3a3a3c;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 1;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  text-transform: uppercase;
}

.keyboard-container {
  height: 50%;
}
